@font-face {
  font-family: 'FontAwesome';
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg"); }

article.books {
  max-width: 100%; }
  article.books i.like, article.books i.unfinished, article.books i.reread {
    display: block;
    float: left;
    margin-left: -1.5rem;
    padding-top: 0.1em;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ddd; }
  article.books i.like:before {
    content: "\f004"; }
  article.books i.reread:before {
    content: "\f021"; }
  article.books i.unfinished:before {
    content: "\f04d"; }
  article.books header {
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #515151;
    border-bottom-width: 2px; }
    article.books header h1 {
      margin-left: 2rem; }
  article.books > section.covers {
    margin-bottom: 4rem;
    margin-top: 1rem;
    overflow: scroll;
    white-space: nowrap; }
  article.books > section {
    margin-left: 2rem; }
    article.books > section .column {
      display: inline-block;
      vertical-align: top;
      max-width: 40rem;
      max-width: 100%;
      width: 30rem; }
    @media (min-width: 35rem) {
      article.books > section .column {
        margin-right: 5rem; } }
    article.books > section h1 {
      margin-top: 3rem;
      font-variant: small-caps;
      font-weight: normal;
      font-size: 1.3rem;
      text-transform: lowercase;
      letter-spacing: 0.15em; }
      article.books > section h1 span.count {
        border: 2px solid blue;
        font-weight: bold;
        color: blue;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        padding-top: .0rem;
        border-radius: 500px;
        margin-left: 1rem; }
    article.books > section section h1 {
      margin-top: 2rem;
      font-size: 1rem; }
    article.books > section ul {
      margin-left: 0;
      padding-left: 0; }
      article.books > section ul li {
        font-size: 1rem;
        list-style-type: none;
        margin-left: 1rem;
        text-indent: -1rem;
        padding-left: 0; }
        article.books > section ul li ul {
          margin-left: 1rem; }
