@font-face {
  font-family: 'FontAwesome';
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg"); }

article.books {
  max-width: 100%;
  padding-left: 2rem;
  /* responsive columns */
  /* page header; should have an edge-to-edge look */
  /* covers banner; should scroll horizontally */
  /* top-level sections */ }
  article.books .columnize {
    width: 100%; }
    @media (min-width: 56rem) {
      article.books .columnize {
        column-count: 2;
        column-gap: 4rem;
        column-width: 25rem;
        -webkit-column-count: 2;
        -webkit-column-gap: 4rem;
        -webkit-column-width: 25rem; } }
  article.books ul.booklist {
    /* FontAwesome gutter marks */ }
    article.books ul.booklist li.like > i, article.books ul.booklist li.unfinished > i, article.books ul.booklist li.reread > i, article.books ul.booklist li.reading > i {
      display: block;
      float: left;
      margin-left: -1.5rem;
      padding-top: 0.1em;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #ddd; }
    article.books ul.booklist li.like > i:before {
      content: "\f004";
      color: #ff6464; }
    article.books ul.booklist li.reread > i:before {
      content: "\f021"; }
    article.books ul.booklist li.unfinished > i:before {
      content: "\f04d"; }
    article.books ul.booklist li.reading > i:before {
      content: "\f04c"; }
  article.books header {
    box-model: border-box;
    margin-left: -2rem;
    padding-left: 2rem;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #515151;
    border-bottom-width: 2px; }
    article.books header h1 {
      margin-left: auto;
      margin-right: auto;
      max-width: 54rem; }
  article.books > section.covers {
    margin-bottom: 4rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 54rem;
    overflow: scroll;
    white-space: nowrap; }
  article.books > section {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 54rem;
    /* top-level headings */
    /* lower-level sections responsively turn into 2 columns */ }
    article.books > section h1 {
      margin-top: 4.5rem;
      margin-bottom: 0rem;
      font-variant: small-caps;
      font-weight: normal;
      font-size: 1.3rem;
      text-transform: lowercase;
      letter-spacing: 0.15em; }
    @media (min-width: 56rem) {
      article.books > section .columnize section {
        width: 25rem;
        display: inline-block; } }
    article.books > section section h1 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      font-size: 1rem; }
    article.books > section ul {
      margin-left: 0;
      padding-left: 0; }
      article.books > section ul li {
        font-size: 1rem;
        list-style-type: none;
        margin-left: 1rem;
        text-indent: -1rem;
        padding-left: 0; }
        article.books > section ul li ul {
          margin-left: 0; }
